.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    min-height: 25%;
    height: 45%;

    @media(min-width: 320px)and(max-width: 499px) {
        width: 90%;
    }

    @media(min-width: 500px)and(max-width: 789px) {
        width: 70%;
    }

    @media(min-width: 790px) and (max-width: 1240px) {
        width: 60%;
    }

    @keyframes showMessage {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1
        }
    }
}