.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;

    input {
        width: 397px;
        height: 76px;
        background-color: transparent;
        border: 3px solid #F9B9B7;
        border-radius: 35px;
        color: #848484;
        padding-left: 30px;
        font-size: 18px;
        font-weight: 500;
        outline: none;
        transition: .3s;

        &:focus {
            box-shadow: 0 0 5px 8px rgba(#F9B9B7, .5);
        }
    }


}