.Tile {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 20px 20px;
  border-radius: 35px;
  transform-style: preserve-3d;
  transition: transform 1s, box-shadow 0.3s;

  ._frontFace,
  ._backFace {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f9b9b7;
    border-radius: 35px;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  // ._backFace {
  //   background-color: red;
  // }

  // ._frontFace {
  //   background-color: green;
  //   backface-visibility: hidden;
  // }

  &_flip {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 20px 20px;
    border-radius: 35px;
    transform: scale(.75);
    transition: transform 1s, box-shadow 0.3s, scale .3s;
    transform: rotateY(180deg);
    box-shadow: 0 0 0 5px #fff;

    ._frontFace {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #f9b9b7;
      border-radius: 35px;
      transform: rotateY(-180deg);

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        animation: showUpIcon .5s .3s forwards;
      }

      ._backFace {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #f9b9b7;
        border-radius: 35px;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  @keyframes showUpIcon {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}