.wrapper {
    text-align: center;
    min-height: 300px;
    width: 45%;

    @media(min-width: 320px) and (max-width: 500px) {
        min-height: 210px;
    }

    @media(max-width: 789px) {
        width: 90%;
    }

    @media(min-width: 790px) and (max-width: 1025px) {
        width: 80%;
    }

    @media(min-width: 1026px) and (max-width: 1240px) {
        width: 60%;
    }

    .title {
        font-size: 24px;
        color: #F9B9B7;
    }

    .variant_Cnt {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: nowrap;
    }
}