.wrapper {
    width: 60%;
    height: 65%;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        min-height: 65%;
        max-height: 100%;

        .button_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .actionButton {
                width: 224px;
                height: 79px;
                margin: 0 35px;
                text-align: center;
                font-size: 36px;
                font-family: 'Asap', sans-serif;
                color: #fff;
                background-color: #F9B9B7;
                border: 0;
                border-radius: 35px;
                text-decoration: none;
                line-height: 79px;
                outline: none;
                transition: .2s;

                @media(min-width: 320px) and (max-width: 500px) {
                    width: 180px;
                    height: 45px;
                    margin: 0;
                    padding: 0;
                    font-size: 1.1em;
                    line-height: 45px;
                }

                @media(min-width: 501px) and (max-width: 645px) {
                    width: 180px;
                    height: 59px;
                    font-size: 1.2em;
                    line-height: 59px;
                }

                &:hover {
                    color: #F9B9B7;
                    background-color: #FFF;
                    cursor: pointer;
                    box-shadow: 0 0 0 6px #F9B9B7;
                }
            }
        }

    }

    @media(min-width: 320px)and(max-width: 1240px) {
        width: 100%;
    }
}