.inputsField {
    width: 60%;
    height: 76px;
    margin: 15px auto;
    background-color: transparent;
    border: 3px solid #F9B9B7;
    border-radius: 35px;
    color: #848484;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    transition: .3s;

    &:focus {
        box-shadow: 0 0 5px 8px rgba(#F9B9B7, .5);
    }

    &.correct {
        border: 3px solid rgb(153, 226, 150);
    }

    &.wrong {
        border: 3px solid rgb(226, 150, 150);
    }

    @media(max-width:475px) and (min-width: 320px) {
        width: 80%;
        margin: 15px auto;
    }
}

.errorMessage {
    font-weight: 700;
    color: rgb(207, 87, 87);
    text-align: center;
    margin: 5px 0;
    letter-spacing: .05em;
    animation: showMessage .4s;
}

.errorMessage .inputsField {
    border: 3px solid rgb(226, 150, 150);
}


@keyframes showMessage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}