.counter {
    font-size: 36px;
    margin: 0;

    @media(max-width: 1025px) and (min-width: 796px) {
        font-size: 3vw;
    }

    @media(max-width: 795px) and (min-width: 320px) {
        position: absolute;
        top: 5%;
        left: 5%;
    }

    @media(max-width:620px) and (min-width: 320px) {
        font-size: 28px;
    }
}