@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

body {
  margin: 0;
  font-family: 'Asap', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(159.52deg, #FCFCFD 27.73%, #FCFCFD 27.73%, #B1E6F8 68.97%, #56CCF2 91.43%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}