.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    color: #F9B9B7;

    .window {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 35vw;
        height: 40vh;
        background-color: #fff;
        border: 5px solid #F9B9B7;
        cursor: pointer;

        .text {
            font-size: 48px;
        }

        .buttons {
            display: flex;
            justify-content: space-around;
            align-items: space-around;
            width: 80%;

            .accept,
            .decline {
                width: 3.35em;
                height: 1.25em;
                background-color: #f9B9B7;
                border-radius: 35px;
                color: #ddd;
                text-align: center;
                font-size: 48px;
                line-height: 1.25;
                transition: .3s;

                &:hover {
                    background-color: #fff;
                    color: #f9B9B7;
                    box-shadow: 0 0 0 5px #F9B9B7;
                }
            }

        }

        .tip {
            font-size: 28px;
        }

    }
}