.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#56CCF2, .5);

    @media(max-width: 798px) and(min-width: 320px) {
        z-index: 2;
    }

    .icon {
        cursor: pointer;
    }

    .text {
        font-size: 36px;
        font-weight: bold;
        letter-spacing: .1em;
        word-spacing: 10px;
        text-align: center;
    }
}